* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.popup {
  position: absolute;
  padding: 8px 32px 16px;
  background: white;
  box-shadow: 2px 4px 40px rgb(78 77 82 / 12%);
  border-radius: 16px;
}

.popup h2 {
  margin-bottom: 0;
}

.popup small {
  color: #555555;
  text-transform: capitalize;
}